<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tttakaoka.makehabit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MakeHabitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>

        <activity
            android:name=".ui.home.TopActivity"
            android:label="@string/title_activity_top"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
